// https://colordesigner.io/#D90754-011526-034873-0578A6-0BB3D9

:root{
    font-size: 100%;
    background-color: #011526;
    /* width */
    ::-webkit-scrollbar {
        width: 0.25rem;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #0578A6;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #D90754;
        border-radius: 50px
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #e6f3fe;
      }
}

@font-face {
    font-family: "FiraEBold";
    src: url(./Fonts/Fira_Sans_Condensed/FiraSansCondensed-ExtraBold.ttf);
}
@font-face {
    font-family: "OverpassB";
    src: url(./Fonts/Overpass/static/Overpass-Bold.ttf);
}
@font-face {
    font-family: "Mukta";
    src: url(./Fonts/Mukta/Mukta-Regular.ttf);
}

@mixin mobile{
    @media screen and (max-width: 1020px) {
        @content;
    }
}
@mixin landscape{
    @media screen and (max-width: 1020px) and (orientation: landscape) {
        @content;
    }
}


.entryPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011526;
    overflow-y: auto;
    @include landscape{
        height: 200vh;
    }

    .entryForm {
        background-color: white;
        width: 20rem;
        padding: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius:.8rem;
        gap: 1.25rem;
        box-shadow: 0rem 0rem 0.5rem rgba($color: #e6f3fe, $alpha: 1.0);
        @include mobile{
            width: 90vw;
            padding: 1rem 0rem;
        }

        .logo {
            color: #D90754;
            font-weight: bold;
            font-size: 3rem;
            font-family: "FiraEBold";
        }
        .title {
            color: #D90754;
            font-family: "OverpassB";
        }



        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            font-family: "Mukta";

            input {
                width: 15rem;
                padding: 0.75rem;
                border: none;
                color: #011526;
                border-bottom: #D90754 0.05rem solid;
                background-color: transparent;
                font-family: "Mukta";
                font-size: 1rem;
                &::placeholder {
                    color: darkgrey;
                }
                &:focus {
                    outline: #D90754 0.05rem solid;
                }
            }
            button {
                background-color: #0578A6;
                color: white;
                border: none;
                padding: 1rem;
                transition: all 0.8s;
                width: 10rem;
                font-weight: bold;
                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
            label {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #0578A6;
                font-size: 0.85rem;
                font-family: "Mukta";
                cursor: pointer;
            }
        }
        p {
            color: #0578A6;
            font-size: 0.85rem;
            font-family: "Mukta";
            a {
                color: #D90754;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
            a:active{
                text-decoration: none;
            }
        }
        ul {
            display: none;

            @include mobile{
            display: block;
            font-family: "OverPassB";
            padding-left: 1.5rem;
            padding-right: 1rem;
            font-size: 0.65rem;
            color: #D90754;}
        }
        span{
            color: #D90754;
        }
    }
}


.Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011526;
    overflow: auto;


    .container{
        width: 100%;
        height: 100%;
        display: flex;

        .sidebar{
            flex: 1;
            background-color: #0a2c48;
            overflow-y: auto;
            overflow-x: hidden;
            @include mobile{
                flex: 2;
            }
            .navbar{
                display: flex;
                align-items: center;
                background-image: url(./img/bg.png);
                background-size: cover;
                height: 3rem;
                padding: 1rem;
                justify-content: space-between;
                color: #e6f3fe;
                z-index: 999;

                @include mobile{
                    padding: 0rem 0.75rem;
                    padding-right: 0.5rem;
                }

                .logo {
                    font-weight: bold;
                    color: #D90754;
                    font-family: "FiraEBold";
                    font-size: 2rem;
                    @include mobile{
                        font-size: 1rem;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    @include mobile {
                        gap: 0.25rem;
                    }
                    img{
                        background-color: #0578A6;
                        width: 1.75rem;
                        height: 1.75rem;
                        clip-path: circle();
                        object-fit: cover;
                    }
                    span{
                        color: #e6f3fe;
                        font-size: 1rem;
                        font-family: "OverpassB";
                        cursor: pointer;
                        &:active{
                            text-decoration: underline;
                        }
                    }
                    button{
                        font-weight: bold;
                        font-size: 0.85rem;
                        border: none;
                        background-color: #D90754;
                        font-family: "OverpassB";
                        color: #e6f3fe;
                        cursor: pointer;
                        transition: all 0.15s;
                        &:active {
                            transform: scale(0.95);
                        }
                        @include mobile {
                            font-size: 0.5rem;
                        }
                    }
                    .menu{
                        img{
                            background-color: transparent;
                            cursor: pointer;
                        }
                        .menuBox{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            background-color: #011d35;
                            border-radius: 0.25rem;
                            border: #D90754 0.1rem solid;
                            color: #e6f3fe;
                            width: 15vw;
                            height: 25vh;
                            position: absolute;
                            z-index: 9999;
                            gap: 2.5rem;
                            padding: 1rem;
                            section{
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;
                                margin-right: 2.5vw;
                                img{
                                    cursor: pointer;
                                }
                            }
                            button{
                                font-size: 1rem;
                            }
                            @include mobile{
                                height: 30vh;
                                width: 50vw;
                                left: 25vw;
                                top: 35vh;
                                button {
                                    font-size: 0.8rem;
                                }
                            }
                            @include landscape{
                                top: 21vh;
                                height: 55vh;
                            }
                        }
                    }
                }

            }
            .search {
                border-bottom: solid 0.1rem #D90754;

                .searchForm{
                    input{
                        width: 100%;
                        background-color: transparent !important;
                        border: none !important;
                        outline: none !important;
                        color: #D90754 !important;
                        padding: 0.75rem;
                        font-family: "Mukta";
                        &::placeholder{
                            color: #0578A6;
                        }
                        @include mobile{
                            padding: 0.25rem;
                            padding-right: 0;
                            font-size: 1rem;
                        }
                    }
                }
            }
            .chats{
                display: flex;
                flex-direction: column;
            }
            .userChat{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                align-items: center;
                gap: 0.5rem;
                color: #e6f3fe;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    background-color: #034873;
                }
                img{
                    width: 3.25rem;
                    height: 3.25rem;
                    clip-path: circle();
                    object-fit: cover;
                    @include mobile {
                        width: 2.75rem !important;
                        height: 2.75rem !important;
                    }
                }
                section{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        cursor: pointer;
                        width: 2rem;
                        height: auto;
                        transition: all 0.5s;
                        &:active{
                            transform: scale(0.9);
                        }
                    }
                }
                .userChatInfo {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    span{
                        font-weight: bold;
                        font-size: 1.15rem;
                        font-family: "OverpassB";
                        @include mobile{
                            font-size: 0.85rem;
                        }
                    }
                    p{
                        color: lightgrey;
                        font-size: 0.9rem;
                        margin-top: 0.25rem;
                        font-family: "Mukta";
                        @include mobile{
                            font-size: 0.55rem;
                        }
                    }
                }
            }
        }
        .chat{
            flex: 3;
            background-color: #011526;
            @include mobile{
                flex: 2;
            }

            .chatInfo {
                height: 3rem;
                padding: 1rem;
                background-color: #011d35;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #e6f3fe;
                font-family: "OverpassB";
                span{
                    cursor: pointer;
                    &:active{
                        text-decoration: underline #e6f3fe !important;
                    }
                }
            }

            .chatIcons {
                display: flex;
                align-items: center;
                gap: 0.85rem;
                img{
                    height: 1.5rem;
                    cursor: pointer;
                    transition: all 0.1s;
                    &:active{
                        transform: scale(0.87);
                    }
                }
            }

            .messages {
                padding: 1rem;
                height: calc(100% - 168px);
                overflow-y: auto;

                .message{
                    padding: 0.75rem;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    .messageInfo{
                        display: flex;
                        color: #0578A6;
                        img{
                            width: 5rem;
                            height: auto;
                            clip-path: circle();
                            object-fit: cover;
                            @include mobile{
                                width: 2.5rem;
                                height: auto;
                            }
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: 1rem;

                        p{
                            background-color: #e6f3fe;
                            color: #D90754;
                            padding: 0.5rem 1rem;
                            border-radius: 2rem;
                            font-family: "Mukta";
                            @include mobile{
                                font-size: 1.15rem;
                                border-radius: 1rem;
                            }
                        }
                        img{
                            width: 15rem;
                            height: auto;
                            background-color: #e6f3fe;
                            padding: 1rem;
                            border-radius: 2rem;
                            cursor: pointer;
                            &:fullscreen{
                                background-color: transparent;
                                border-radius: 0;
                                padding: 0;
                            }
                            @include mobile{
                                padding: 0.25rem 0.15rem;
                                width: 11rem;
                            }
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                        p{
                            background-color: #D90754;
                            color: #e6f3fe;
                            border-radius: 2rem 2rem 0.4rem 2rem;
                            max-width: max-content;
                            @include mobile {
                                border-radius: 1rem 1rem 0.2rem 1rem;
                            }
                        }
                        img{
                            background-color: #D90754;
                            border-radius: 2rem 2rem 0.4rem 2rem;
                            &:fullscreen{
                                background-color: transparent;
                                border-radius: 0;
                                padding: 0;
                            }
                            @include mobile {
                                border-radius: 1rem 1rem 0.2rem 1rem;
                            }
                        }
                    }
                    }
                }
            }

            .input {
                height: 2rem;
                background-color: #e6f3fe;
                padding: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include mobile{
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                }
                img{
                    cursor: pointer;
                    transition: all 0.2s;
                    &:active{
                        transform: scale(0.9);
                    }
                }
                input{
                    font-family: "Mukta";
                    background-color: transparent !important;
                    border: none !important;
                    outline: none !important;
                    color: black !important;
                    font-size: 1.15rem;
                    padding: 0.5rem;
                    width: 100%;
                    &::placeholder{
                        color: #0578A6;
                    }
                    @include mobile{
                        font-size: 16px;
                    }
                }
                .send {
                    img{
                        cursor: pointer;
                        transition: all 0.2s;
                        &:active{
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }  & .placeholder{
            display: flex;
            width: 100%;
            height: 100%;
            color: #D90754;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            font-size: 15rem;
            font-family: "FiraEBold";
            span{
                opacity: 0.55;
                display: flex;
                align-items: center;
            }
            @include mobile{
                font-size: 3.5rem;
            }
        }
    }
}